In [9]:
a_lot_of_numbers=[1,2,5,4,8,55,77,555,888,999,4444,4,5,5849,4848,48487,545,6548,48787,48887,81,448,818,1894,412]
len(a_lot_of_numbers)

25

## Basic python programmer version

In [3]:
output=[]
for i in a_lot_of_numbers:
    v=i+5
    output.append(v)

In [4]:
print(a_lot_of_numbers)
print(output)

[1, 2, 5, 4, 8, 55, 77, 555, 888, 999, 4444, 4, 5, 5849, 4848, 48487, 545, 6548, 48787, 48887, 81, 448, 818, 1894, 412]
[6, 7, 10, 9, 13, 60, 82, 560, 893, 1004, 4449, 9, 10, 5854, 4853, 48492, 550, 6553, 48792, 48892, 86, 453, 823, 1899, 417]

## Basic version/ Pythonic version

In [7]:
output_v2=[i+5 for i in a_lot_of_numbers]

In [8]:
print(a_lot_of_numbers)
print(output)
print(output_v2)

[1, 2, 5, 4, 8, 55, 77, 555, 888, 999, 4444, 4, 5, 5849, 4848, 48487, 545, 6548, 48787, 48887, 81, 448, 818, 1894, 412]
[6, 7, 10, 9, 13, 60, 82, 560, 893, 1004, 4449, 9, 10, 5854, 4853, 48492, 550, 6553, 48792, 48892, 86, 453, 823, 1899, 417]
[6, 7, 10, 9, 13, 60, 82, 560, 893, 1004, 4449, 9, 10, 5854, 4853, 48492, 550, 6553, 48792, 48892, 86, 453, 823, 1899, 417]

In [7]:
output_v2=[i+3 for i in a_lot_of_numbers]

NameError: name 'a_lot_of_numbers' is not defined

In [10]:
print(output_v2)

[4, 5, 8, 7, 11, 58, 80, 558, 891, 1002, 4447, 7, 8, 5852, 4851, 48490, 548, 6551, 48790, 48890, 84, 451, 821, 1897, 415]

## TASK 2:- Non pythonic version

In [10]:
out3=[]
for i in a_lot_of_numbers:
    if i % 3==0:
        out3.append(i)

In [11]:
print(out3)

[555, 888, 999, 4848, 81]

## Pythonic version

In [16]:
out3_v2=[i for i in a_lot_of_numbers if i%3==0]

In [17]:
print(out3_v2)

[555, 888, 999, 4848, 81]

## task3:- all 10 to all numbers that are divisble by 2 and give a new list

In [19]:
allnum=[i+10 for i in a_lot_of_numbers if i%2==0]

In [21]:
print(a_lot_of_numbers)
print(allnum)

[1, 2, 5, 4, 8, 55, 77, 555, 888, 999, 4444, 4, 5, 5849, 4848, 48487, 545, 6548, 48787, 48887, 81, 448, 818, 1894, 412]
[12, 14, 18, 898, 4454, 14, 4858, 6558, 458, 828, 1904, 422]

In [22]:
x={1,2,3,4,5,6,7,8,9}

In [23]:
x2={i**2 for i in x}
print(x)
print(x2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{64, 1, 4, 36, 9, 16, 49, 81, 25}

# create a dictionary using comprehension

In [24]:
data={i:i+10 for i in a_lot_of_numbers}
print(data)

{1: 11, 2: 12, 5: 15, 4: 14, 8: 18, 55: 65, 77: 87, 555: 565, 888: 898, 999: 1009, 4444: 4454, 5849: 5859, 4848: 4858, 48487: 48497, 545: 555, 6548: 6558, 48787: 48797, 48887: 48897, 81: 91, 448: 458, 818: 828, 1894: 1904, 412: 422}