In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# data analysis and visualization using Python

### read data from a file
###  preprocess data
### clean data
### visualize data

In [ ]:
pd.set_option('display.max_columns',None)   #display all columns

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/digipodium/Datasets/main/automobile.csv')
df

##### dataframe
##### series
#### rows
#### columns
#### index
#### data types

In [ ]:
sample=pd.read_csv('https://raw.githubusercontent.com/digipodium/Datasets/main/sample_data.csv')
sample

In [ ]:
sample.info()

In [ ]:
sample.salary.plot(kind='bar')

In [ ]:
sample.age.plot(kind='bar')

In [ ]:
sample['salary']  #series

In [ ]:
sample[['age','salary']]  #dataframe subset

In [ ]:
sample.head()

In [ ]:
sample.head(2)

In [ ]:
sample.tail()

In [ ]:
sample[5:10]   #slicing from 5 to 10

In [38]:
sample.iloc[2]

c       italy
s    230000.0
a        39.0
h           0
Name: 2, dtype: object

In [ ]:
sample.index

In [ ]:
sample.set_index('country')

In [ ]:
sample.columns.tolist()

In [ ]:
# rename columns
sample.rename(
   columns= {'country':'c',
     'age':'a',
     'salary':'s',
     'happy':'h'},
    inplace=True
)

In [39]:
sample

          c         s     a  h
0   germany   49000.0  35.0  1
1     spain   10000.0   NaN  0
2     italy  230000.0  39.0  0
3     spain  200000.0  30.0  1
4     italy       NaN  30.0  1
5     spain   31000.0  23.0  0
6   germany       NaN  34.0  1
7     spain  400000.0   NaN  1
8     italy  200000.0  29.0  0
9     italy  340000.0  35.0  1
10  germany   30000.0  25.0  1

In [ ]:
sample.shape

In [ ]:
sample.size

In [ ]:
sample.dtypes

In [ ]:
sample.describe()

In [ ]:
sample.describe(include='object')

In [ ]:
sample.isnull().sum()

In [ ]:
sample['s'].sum()

In [42]:
sample['temp']='dummy' #add column

In [43]:
sample['temp']='fake value'  #update column

In [ ]:
sample

In [46]:
sample['h']=sample['h'].apply(lambda v:1 if v =='yes' else 0)

In [49]:
sample.drop(columns= ['temp'],inplace=True)

In [50]:
sample

          c         s     a  h
0   germany   49000.0  35.0  0
1     spain   10000.0   NaN  0
2     italy  230000.0  39.0  0
3     spain  200000.0  30.0  0
4     italy       NaN  30.0  0
5     spain   31000.0  23.0  0
6   germany       NaN  34.0  0
7     spain  400000.0   NaN  0
8     italy  200000.0  29.0  0
9     italy  340000.0  35.0  0
10  germany   30000.0  25.0  0