# Data structure

## list
 ## tuple
##  set
## dictionary

# lists
##  indexed,ordered,hetrogeneous datastructure and it is runnable and can contain duplicate values

# 'task'
##      creation
##      indexing and slicing
##      functions
 ##     other stuff

In [1]:
a=[1,2,3,4,5]
print(a)
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>

In [2]:
name='starnight'
c=list(name)
c

['s', 't', 'a', 'r', 'n', 'i', 'g', 'h', 't']

In [3]:
msg='journy before destination'
w=msg.split()
w

['journy', 'before', 'destination']

In [4]:
a=2
v=5
s=9
h=[a,v,s]
print(h)

[2, 5, 9]

In [5]:
# clone content in a list
x=10
xlist=[x]*6
print(xlist)

[10, 10, 10, 10, 10, 10]

In [6]:
c

['s', 't', 'a', 'r', 'n', 'i', 'g', 'h', 't']

In [7]:
print(c[0])
print(c[-1])
print(c[-2])

s
t
h

In [8]:
c[-1]='aaaa'

In [9]:
c

['s', 't', 'a', 'r', 'n', 'i', 'g', 'h', 'aaaa']

In [10]:
n=[1,2,3,4,5,6,7,8,9,10]
n[-5:]

[6, 7, 8, 9, 10]

In [13]:
n[2:5]

[3, 4, 5]

In [15]:
for i in n:
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [16]:
a=[[1,2,3,],[3,4,5],[8,7,9,5]]
print(a)
for item in a:
    print(item)

[[1, 2, 3], [3, 4, 5], [8, 7, 9, 5]]
[1, 2, 3]
[3, 4, 5]
[8, 7, 9, 5]

In [18]:
for sub in a:
    for i in sub:
        print(i)

1
2
3
3
4
5
8
7
9
5

# Functions

In [19]:
x=[]
y=[1,2,3]

In [22]:
x.append(20)
print(x)

[12, 20]

In [23]:
x.insert(2,10)
print(x)

[12, 20, 10]

In [24]:
y=[50,33,88]

## to insert more than one value in a list

In [25]:
x.extend(y)
print(x)

[12, 20, 10, 50, 33, 88]

In [26]:
if 'gello' in x:
    x.remove('gello')

In [28]:
if 10 in x:
    x.remove(10)
print(x)

[12, 20, 50, 33, 88]

In [29]:
x.pop(3)
x

[12, 20, 50, 88]

In [31]:
x.clear()
x

[]

In [32]:
names=['sam','alex','bob','carl','david']

In [33]:
names.reverse()
names

['david', 'carl', 'bob', 'alex', 'sam']

In [34]:
names.sort()
names

['alex', 'bob', 'carl', 'david', 'sam']

In [35]:
x=[1,2,3,45,88,4]
y=['a','v','s','e']
z=[1,88,9,'a',o]
x
y
z

NameError: name 'o' is not defined

In [37]:
x.count(2)

1

In [41]:
print(x)
x.index(2)

[1, 2, 3, 45, 88, 4]

1

In [42]:
names

['alex', 'bob', 'carl', 'david', 'sam']

In [43]:
names.index('carl')

2

### list with user input(BASIC)

In [44]:
days=[]
for i in range(6):
    a=input('name of the day :')
    days.append(a)
print(days)

['monday', 'tuesday', 'wednesday', 'thrusday', 'friday', 'saturday']

### list with user input (ADVANCE)

In [45]:
num=list(map(int,input().split()))
print(num)

[2]

In [46]:
words=input().split()
print(words)

['arya']